<nav class="navbar navbar-expand-lg">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{path('app_home')}}">
			<img src="{{ asset('build/images/Museum-Aviator.png') }}">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse text-white" id="navbarNavAltMarkup">
			<div class="navbar-nav text-white">
				<a class="nav-link active" aria-current="page" href="#"></a>
				<a class="nav-link" href="{{path('app_category_index')}}">Listing par Catégorie</a>
				<a class="nav-link" href="{{path('app_plane_index')}}">Tous les avions</a>
				<a class="nav-link">Historique</a>
			</div>
		</div>
	</div>
</nav>
